version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
    groups:
      version-updates:
        applies-to: version-updates
        update-types:
          - minor
          - patch
      security-updates:
        applies-to: security-updates
        update-types:
          - minor
          - patch
    ignore:
      - dependency-name: '*'
        update-types: ['version-update:semver-major']
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
